<div class="span6 offset4 boxy">

	<h1 class="h1-custom">Hi I'm Michael.</h1>
	<div class="boxybody">
	<h2 class="h2-custom">I'm currently a first year student at Harvard Business School.<br>I am also co-founder and CEO of Curio Road, an online marketplace for superstar handmade designers. Previously I worked at Bessemer Venture Partners, where I helped to invest in great startups such as Involver (acq by Oracle), Adap.tv (acq by AOL), and KupiVIP. </h2>

	<br>
<div class="boxybutton">
<%= link_to 'Get In Touch','#',:class=>'btn btn-info btn-large' %>

	<br><br>
	<div>
</div>
</div>